name: Lint

on:
  push:
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.18
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 120s --max-same-issues 50 --config=.golangci.yml

      - name: Bearer
        uses: bearer/bearer-action@v2
        with:
          skip-path: 'docs/'
